[Unit]
Description=motion Container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill motion
ExecStartPre=-/usr/bin/docker rm motion -f
ExecStart=/bin/echo Starting && /usr/bin/docker run --env-file /home/pi/projects/simple-motion-detector/.env --privileged --name motion --net=host devinkott/security:latest
ExecStop=/usr/bin/docker stop -t 2 motion

[Install]
WantedBy=multi-user.target