[Unit]
Description=motion Container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --rm --env-file /home/pi/projects/simple-motion-detector/.env --privileged --name motion --net=host devinkott/security:latest
ExecStop=/usr/bin/docker stop -t 2 motion

[Install]
WantedBy=multi-user.target