[Unit]
Description=motion Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a motion
ExecStop=/usr/bin/docker stop -t 2 motion

[Install]
WantedBy=local.target